@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #fff 0%,
    /* from 0 to 50% of the page the color will be light blue*/ #fff 49%,
    purple 51%,
    /* at exact 50% there will be a sharp change in color and from 50% to 100% it will be dark blue*/
      purple 100%
  );
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #fff;
  padding: 20px;
  width: 80px; /*it's in the non active state*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  transition: width 0.6s linear;
}

nav.active {
  width: 450px; /*it's in the active state*/
}

nav ul {
  display: flex;
  list-style-type: none; /*get rid of all the types of bullet*/
  padding: 0;
  margin: 0;
  width: 0; /*when it's not active the width will be zero*/
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0; /*only wanted to show when it has the active state*/
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

/* this is for the links in the li*/
nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px; /* separate the li with some margin*/
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
